<div class="container">
    <div class="row">
        <div class="col-md-3">
            Search by category:
            <select>
                <option selected="selected"></option>
                <option value="placeholder">1</option>
                <option value="placeholder">2</option>
                <option value="placeholder">3</option>
                <option value="placeholder">4</option>
            </select>
        </div>
        <div class="col-md-3">
            Search by name:
            <input type="text">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-danger">Checkout | Bag: {{ }}</button>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2">Tea</th>
                    <th>
                        <span>Information</span>
                        <span id="sort">Sort By Price:
                                <select>
                                    <option selected="selected"></option>   
                                    <option value="highest">Highest</option>
                                    <option value="lowest">Lowest</option>
                                </select>
                            </span>
                    </th>
                </tr>
            </thead>
                <tbody>
                    <tr single-tea  ng-repeat="tea in teaData.data" tea-value="tea">
                    </tr>
                </tbody>
        </table>
    </div>
</div>
