<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
	<title></title>
</head>
<body >
	<!-- <div ng-controller="HelloController">
		<h2>Hello, {{hello.title}}!</h2>
		<input type="text" ng-model="hello.title">
		<button ng-click="printTitle()">Print scope to console</button>
	    <br>
	</div>
	<div>		
	    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
	    <p>{{ greeting }} world!</p>
	    <br>

	    <input ng-model="name" type="text" placeholder="What is your name?">
	    <h1>My name is {{name}}</h1>
	</div> -->
	<!-- <div ng-controller="PetController">
	    <select name="select" ng-init="petSelect.select = petSelect.selectOptions[0]" ng-model="petSelect.select">
	    	<option ng-repeat="item in petSelect.selectOptions">{{item}}</option>
	     
	    </select><br>
	    <h3>I love {{petSelect.select}} <3 </h3>
    </div> -->
    <!-- <div>
    	<p>{{3.14159265359 | currency: "€"}}</p>
    	<p>{{3.14159265359 | number:3}}</p>
		<p>{{3.14159265359 | number:6}}</p>
		<p>{{3.14159265359 | number:1}}</p>
    </div>
    <div>
	    <h1>Please say something</h1>
    	<input ng-model="sayText" type="text" placeholder="">
    		<p>Yelling: {{sayText | uppercase}}</p>
    		<p>Whispering: {{sayText | lowercase}}</p>
    </div> -->
    <div ng-controller = "numController">
    	<h2>How many digits of Pi do you want?
    	<select name="numChoice" ng-model="data.numChoice">
    		<option value="1">1</option>
      		<option value="2">2</option>
      		<option value="3">3</option>
      		<option value="4">4</option>
      		<option value="5">5</option>
      		<option value="6">6</option>
      		<option value="7">7</option>
      	</select></h2><br>
    	<h2>Here you go! The first {{data.numChoice}} digit(s) of Pi!</h2>
    	<h3>3.{{14159265359 | limitTo:data.numChoice}}</h3>	    
    </div>
  
</body>
</html>



