<!DOCTYPE html>
<html ng-app="reddit">
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<title>Reddit Clone</title>
</head>
<body ng-controller="redditController">
<!-- NAV BAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Reddit Clone</a>
    <ul class="nav navbar-nav">
      <li><a href="javascript:void(0)" ng-click="newPostShow()"><span class="glyphicon glyphicon-plus"></span>New Post</a></li>
      <li class="navbar-form">
        <div class="form-inline">
          <input type="text" placeholder="search" class="form-control" ng-model="view.searchText">
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span>Sort by {{ view.currentSort }}</span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="sort in view.sortOptions"><a href="#" ng-click="setOrderVal(sort)">Sort by {{ sort }}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- NEW FORM  -->
  <form name="postForm" ng-submit="addPost(postForm)" ng-if="view.newPostShow" class="newForm">
    <div class="form-group" ng-class="{'has-error': checkForError(postForm.title), 'has-success': postForm.title.$valid }">
      <label for="title" ng-class="{'text-danger': checkForError(postForm.title), 'text-success': postForm.title.$valid }">Title</label>
      <input type="text" class="form-control" name="title" placeholder="Title" ng-model="newPost.title" required>
      <p ng-show="checkForError(postForm.title)" class="help-block">Hey! Where's your title?</p>
    </div>
    <div class="form-group" ng-class="{'has-error': checkForError(postForm.author), 'has-success': postForm.author.$valid }">
      <label for="author" ng-class="{'text-danger': checkForError(postForm.author), 'text-success': postForm.author.$valid }">Author</label>
      <input type="text" class="form-control" name="author" placeholder="author" ng-model="newPost.author" required>
      <p ng-show="checkForError(postForm.author)" class="help-block">Hey! Where's your author?</p>
    </div>
    <div class="form-group" ng-class="{'has-error': checkForError(postForm.image), 'has-success': postForm.image.$valid }">
      <label for="image" ng-class="{'text-danger': checkForError(postForm.image), 'text-success': postForm.image.$valid }">Image</label>
      <input type="text" class="form-control" name="image" placeholder="image" ng-model="newPost.image" required>
      <p ng-show="checkForError(postForm.image)" class="help-block">Hey! Where's your image?</p>
    </div>
    <div class="form-group" ng-class="{'has-error': checkForError(postForm.description), 'has-success': postForm.description.$valid }">
      <label for="description" ng-class="{'text-danger': checkForError(postForm.description), 'text-success': postForm.description.$valid }">Description</label>
      <input type="text" class="form-control" name="description" placeholder="description" ng-model="newPost.description" required>
      <p ng-show="checkForError(postForm.description)" class="help-block">Hey! Where's your description?</p>
    </div>
    <input type="submit" class="btn btn-default" value="Add Post">
  </form>
  <!-- POSTINGS -->
  <div class="posts" ng-repeat="post in posts | orderBy: view.sortOptions" >
  	<div class="row panel panel-default">
  		<div class="panel-title">
	  		<div class="col-xs-2"><img ng-src="{{ post.image }}"></div>
	  		<div class="col-md-10">
	  			<p><h3>{{post.title}}
	  			<span class="glyphicon glyphicon-arrow-up" ng-click="addVote"></span>
	  			<span class="glyphicon glyphicon-arrow-down" ng-click="addVote"></span></h3></p>
	  			<div class="text-right">
	  				<h5>by:{{post.author}}</h5>
	  			</div>
	  			<p>{{post.description}}</p>

	  		</div>
  		</div>	  			
  	</div>
  </div>
 </div>
</div>
</body>
</html>